@import '../../stylesheets/reset.css';
@import '../../stylesheets/demo.css';


////////////
// LAYOUT //
////////////

// header
header#top {
	margin-bottom: 1em;
}

ul {
	overflow: hidden;
	margin: 10px auto;
	background-color: red;

	.box {
		float: left;
		width: 33.333%-0.25%;
		height: 30px;
	}
}

ul#boxes0 {
	width: 300px; // 99.999
}
ul#boxes1 {
	width: 301px; // 100.233
}
ul#boxes2 {
	width: 302px; // 100.66566		!!!!!
}
ul#boxes3 {
	width: 303px; // 100.999
}
ul#boxes4 {
	width: 304px; // 101.33232
}
ul#boxes5 {
	width: 305px; // 101.66565
}
ul#boxes6 {
	width: 306px;
}
ul#boxes7 {
	width: 307px;
}
ul#boxes8 {
	width: 308px;
}