@import '../../stylesheets/reset.css';
@import '../../stylesheets/demo.css';


////////////
// LAYOUT //
////////////

// header
header#top {
	margin-bottom: 1em;
}

ul#boxes {
	overflow: hidden;
	width: 301px;
	margin: 0 auto;
	background-color: red;

	.box {
		float: left;
		width: 33.333%;
		height: 50px;
	}
}