@import '../../stylesheets/reset.css';

@import '../../stylesheets/demo.css';
header#top {
  margin-bottom: 1em;
}
ul {
  overflow: hidden;
  margin: 10px auto;
  background-color: red;
}
ul .box {
  float: left;
  width: 33.083%;
  *width: 33.083%;
  height: 30px;
}
ul#boxes0 {
  width: 300px;
}
ul#boxes1 {
  width: 301px;
}
ul#boxes2 {
  width: 302px;
}
ul#boxes3 {
  width: 303px;
}
ul#boxes4 {
  width: 304px;
}
ul#boxes5 {
  width: 305px;
}
ul#boxes6 {
  width: 306px;
}
ul#boxes7 {
  width: 307px;
}
ul#boxes8 {
  width: 308px;
}
