@import '../../stylesheets/reset.css';

@import '../../stylesheets/demo.css';
header#top {
  margin-bottom: 1em;
}
h2 {
  margin: 32px 32px 16px 32px;
  font-family: Georgia;
  font-size: 1.125em;
  font-weight: bold;
}
div.box-container {
  float: left;
  margin: 0 0 32px 32px;
}
div.box-container ul {
  overflow: hidden;
  background-color: green;
}
div.box-container ul .box {
  float: left;
  width: 25%;
  height: 50px;
  background-color: blue;
}
div.box-container ul .title {
  background-color: red;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
div.box-container h3 {
  margin-top: 10px;
  text-align: center;
}
div.box-container#box-49, div.box-container#box-49 .title {
  width: 49px;
}
div.box-container#box-50, div.box-container#box-50 .title {
  width: 50px;
}
div.box-container#box-51, div.box-container#box-51 .title {
  width: 51px;
}
